.app{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    margin-top: 0%;
    margin: 0%;
    border-width: 0ch;
    overflow: hidden;
    top: 0;
    left: 0;
}


.video{
    height: 100%;
    width: 100%;
}


.external_controls{
    position: absolute;
    z-index: 20;
}


.file_selector{
    position: absolute;
}


.rotated {
      width: 100vh;
      height: 100vw;
      transform-origin: 0 0;
      transform: rotate(90deg) translateY(-100%);
}

body{
    background-color: black;
}